
.companyItem {
    border: 1px solid #000;
    border-radius: 12px;
    min-width: 180px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 2px 5px;
    min-height: 40px;
}


.blau {
    background: #99CCFF;
    color: #000;
}

.dunkelblau {
    background: #1F497C;
    color: #FFF;
}

.companyItem span, .companyItem div {
    font-weight: 200;
    font-size: 12;
    margin-bottom: 1px;
    line-height: 20px;
}
.companyItem .title {
    font-weight: 400;
    font-size: 14;
    margin-bottom: 1px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}